.carousel {
    margin: 0 auto;
    overflow: hidden;
    height: 100%;
  }
  
  .carouselInner {
    height: 100%;
    white-space: nowrap;
    transition: ease 1s;
  }
  
  .carouselItem {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  .carouselImg {
    height: 100%;
    border-radius: 0;
    object-fit: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }